@use '../utilities/variables' as *;


.btn {
  background-color: transparent;
  outline: 0;
  border: 0.15rem solid $accent-color;
  border-radius: 0.5rem;
  color: $accent-color;
  transition: all ease-in-out 0.2s;

  @include tablet {
    border-width: 0.16rem;
  }
}

.btn:hover {
  background-color: $accent-color;
  color: white;
}