@forward 'signContainer';
@forward 'buttons';
@forward 'navBar';
@forward 'userPage';
@forward 'searchTab';
@forward 'searchResults';
@forward 'bookingPage';
@forward 'bookingDetailsPage';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}