@use '../utilities/variables' as *;


.navBar {
  position: absolute;
  top: 0;

  width: 100%;
  height: $nav-height;

  padding: 1rem $padding;

  background-color: $nav-background-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 4rem;
    font-family: 'Playball', cursive;
    > * {
      color: black;
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    gap: 1rem;

    .sign,
    .user {
      font-size: 2rem;
      text-decoration: none;
      padding: 0.5rem 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 1rem;
    }
    .sign:nth-child(2) {
      display: none;
      
      @include tablet {
        display: inline-block;
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      > img {
        filter: invert(48%) sepia(88%) saturate(2573%) hue-rotate(173deg) brightness(104%) contrast(105%);
      }
    }
    .user:hover {
      color: white;
      > img {
        filter: brightness(100);
      }
    }
  }
}