@use '../utilities/variables' as *;

.resultsContainer {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 3rem;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
  
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

  .result {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    
    .airline {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: left;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 3rem;
      }
    }
    .resultContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .time {
        font-size: 1.65rem;
        font-weight: bold;
      }
      .location {
        font-size: 1.2rem;
      }
      .airport {
        opacity: 50%;
      }
  
      .travelTime {
        font-size: 1.5rem;
        border-bottom: 1px solid $accent-color;
      }
  
      .price {
        font-size: 1.5rem;
      }
    }

    .bookingNavigate {
      margin-top: 1.5rem;
      width: 100%;
      height: 3rem;
      background-color: lighten($accent-color, 45%);
    }
    .bookingNavigate:hover {
      background-color: $accent-color;
    }

  }
}