@use '../utilities/variables' as *;

.userPage {
  width: 100%;
  min-height: 100vh;

  padding: 0 $padding;
  padding-top: calc($nav-height + 1.5rem );

  background-color: $page-background-color;

  .userDetailsContainer {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    .userImageContainer {
      background-color: white;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      line-height: 0;

      @include tablet {
        width: 100%;
        max-width: 30rem;
        height: 100%;
        max-height: 30rem;
        border-radius: 30rem;
      }

      > * {
        width: 100%;
        filter: invert(48%) sepia(88%) saturate(2573%) hue-rotate(173deg) brightness(104%) contrast(105%);
        @include tablet {
          width: 100%;
          max-width: 30rem;
          height: 100%;
          max-height: 30rem;
        }
      }
    }

    .userDetails {
      width: 100%;
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 0.2rem solid $accent-color;
      overflow: auto;
      font-size: 1vw;

      @include tablet {
        padding: 0; 
        margin: 0; 
        border: 0;

        margin-left: 2rem;
        padding-left: 2rem;
        border-left: 0.2rem solid $accent-color;
      }

      .username {
        font-size: 3rem;
        color: $accent-color;
        @include tablet {
          font-size: min(3.5em, 3.5rem);
        }
      }

      table {
        font-size: 1.65rem;
        padding: 1rem 0;
        @include tablet {
          font-size: min(2.15em, 2.15rem);
        }
      }

      .logout {
        width: 10rem;
        height: 3rem;
        font-size: 1.65rem;
        @include tablet {
          width: 10.5rem;
          height: 3.5rem;
          font-size: min(2.15em, 2.15rem);
        }
      }
    }
  }

  .bookingDetailsContainer {
    padding-bottom: 4rem;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
    
    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem;
    }
    .booking {
      width: 100%;
      margin-top: 1.5rem;
      background-color: white;
      border-radius: 1rem;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .airlines {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 3rem;
        }
      }
      
      .bookingDetails {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .location {
          font-size: 1.65rem;
          font-weight: bold;
        }
        .time {
          font-size: 1.2rem;
        }
        .travelTime {
          font-size: 1.5rem;
          border-bottom: 1px solid $accent-color;
        }
      }
      .view {
        height: 3rem;
      }
    }

    @include tabletOnly {
      .booking:nth-child(2n - 1) {
        grid-column-start: 1;
      }
  
      .booking:last-child {
        grid-column-end: -1;
      }
    }
  
    @include desktop {
      .booking:nth-child(3n - 2) {
        grid-column-start: 1;
      }
  
      .booking:nth-child(3n - 1) {
        grid-column-start: 2;
      }
  
      .booking:last-child {
        grid-column-end: -1;
      }
    }
  }

}